/**
 * https://github.com/godban/no-sheet-reset
 * v1.0.0 | 26.08.2017
 * License: MIT
*/
*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: inherit;
}
